# Тесты
backend/tests/
backend/tests/__pycache__/

# Виртуальное окружение
backend/.venv/
backend/venv/
backend/env/

# Кэш Python
backend/__pycache__/
backend/*.pyc

# IDE
.idea/
.vscode/

# Логи
*.log

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Git
.git
.gitignore

# Локальные файлы
.env
.env.local