#  Database Connection (для бэкенда)
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost  # Для локального запуска. Для Docker: postgres
DB_PORT=5432
DB_NAME=reserve_db

# PostgreSQL Container (для Docker)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=reserve_db

# JWT Authentication
JWT_SECRET_KEY=your-secret-key
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=30


# Creator registration
CREATOR_REGISTRATION_KEY=your-secret-key


# Optional Settings
# DEBUG=True
# ENVIRONMENT=development